.opening-bank-account-view {
    font-size: 20px;
    position: relative;
    left: 15px;
    top: 25px;
    margin-bottom: 150px;
    height: 180px;
    width: 695px;
    padding: 10px;
    border: 1px solid black;
}

.opening-bank-account-view button {
    padding: 10px 20px;
    width: 275px;
    cursor: pointer;
    border: none;
}

.opening-bank-account-view #save-btn {
    position: relative;
    left: 15px;
    background-color: rgb(51, 180, 115);
    color: white;
}

.opening-bank-account-view #cancel-btn {
    position: relative;
    left: 100px;
    background-color: rgb(200, 56, 51);
    color: white;
}