.removing-bank-account-view {
    font-size: 20px;
    position: relative;
    left: 15px;
    top: 25px;
    margin-bottom: 80px;
    height: 180px;
    width: auto;
    padding: 10px;
    border: 1px solid black;
}

.removing-bank-account-view-label {
    font-weight: bold;
}

.removing-bank-account-view-acc-details {
    font-weight: bold;
    font-size: 25px;
}

.removing-bank-account-view #delete-btn {
    padding: 10px 20px;
    width: 800px;
    cursor: pointer;
    border: none;
    position: relative;
    left: 150px;
    background-color: rgb(200, 56, 51);
    color: white;
}

