.searching-in-bank-accounts-view {
    font-size: 20px;
    position: relative;
    left: 15px;
    top: 25px;
    margin-bottom: 150px;
    height: 125px;
    width: 695px;
    padding: 10px;
    border: 1px solid black;
}

.searching-in-bank-accounts-view #nationalId {
    width: 180px;
}

.searching-in-bank-accounts-view button {
    padding: 10px 20px;
    width: 275px;
    cursor: pointer;
    border: none;
    position: relative;
    color: white;
}

.searching-in-bank-accounts-view #search-btn {    
    left: 15px;
    background-color: rgb(72, 101, 208);    
}

.searching-in-bank-accounts-view #cancel-btn {    
    left: 100px;
    background-color: rgb(200, 56, 51);    
}