ul {
    list-style-type: none;
}

ul li {
    padding-bottom: 15px;
}

.main-pg-link {
    color: rgb(67, 117, 244);
}

.main-pg-link:visited {
    color: rgb(43, 93, 219);
}

.main-pg-link:hover {
    color: rgb(225, 36, 36);
}

.main-pg-link:active {
    color: rgb(49, 158, 114);
}

.back-to-main {
    position: relative;
    left: 10px;
    padding: 10px 10px 10px 10px;
    color: rgb(43, 93, 219);
}

.back-to-main:visited {
    color: rgb(43, 93, 219);
}

.back-to-main:hover {
    color: rgb(225, 36, 36);
}

.back-to-main:active {
    color: rgb(49, 158, 114);
}