#root {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;;
}

header {
    background: dimgray;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 75px;
}

.content {
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 100px;
}

footer {
    text-align: center;
    padding: 3px;
    background: dimgray;
    color: white;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 75px;
}