.updating-bank-account-view {
    font-size: 20px;
    position: relative;
    left: 15px;
    top: 25px;
    margin-bottom: 150px;
    height: 155px;
    width: 695px;
    padding: 10px;
    border: 1px solid black;
}

.updating-bank-account-view button {
    padding: 10px 20px;
    width: 600px;
    cursor: pointer;
    border: none;
    position: relative;
    left: 35px;
    background-color: rgb(51, 180, 115);
    color: white;
}