.viewing-bank-accounts-view {
    font-size: 20px;
    position: relative;
    left: 15px;
    top: 5px;
    width: 1000px;
    padding: 10px;
}

.viewing-bank-accounts-view table {
    width: 100%;
}

.viewing-bank-accounts-view th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #696a6a;
    color: white;
}

.viewing-bank-accounts-view td, .viewing-bank-accounts-view th {
    border: 1px solid #ddd;
    padding: 8px;
}

.viewing-bank-accounts-view tr:nth-child(even){
    background-color: #f2f2f2;
}

.viewing-bank-accounts-view tr:hover {
    background-color: #ddd;
}

.viewing-bank-accounts-view td {
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

.viewing-bank-accounts-view-footer {
    margin-top: 10px;
    margin-bottom: 50px;
}

.viewing-bank-accounts-view button {
    padding: 10px 20px;
    width: 275px;
    cursor: pointer;
    border: none;
}

.viewing-bank-accounts-view #previous-btn {
    position: relative;
    left: 50px;
    background-color: rgb(170, 15, 15);
    color: white;
}

.viewing-bank-accounts-view #next-btn {
    position: relative;
    left: 400px;
    background-color: rgb(26, 97, 229);
    color: white;
}